{% block menuHeader %}

    <div class="page-header-menu">
        <div class="container">
            <form class="search-form" action="javascript:;" method="GET">
                <div class="input-group">
                    <input type="text" autocomplete="off" class="form-control" placeholder="Search" name="query">
                    <span class="input-group-btn">
                        <a href="javascript:;" class="btn submit">
                            <i class="icon-magnifier"></i>
                        </a>
                    </span>
                </div>
            </form>
            <div class="hor-menu  ">
                <ul class="nav navbar-nav">

                    <li class="menu-dropdown classic-menu-dropdown active">
                        <a href="{{siteUrl('admin')}}"> 
                            Dashboard
                        </a>
                    </li>


                    <li class="menu-dropdown classic-menu-dropdown ">
                        <a href="javascript:;">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i> Account
                            <span class="arrow"></span>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            {# <li aria-haspopup="true" class="dropdown-submenu ">
                                <a href="javascript:;" class="nav-link nav-toggle ">
                                    <i class="icon-basket"></i> eCommerce
                                    <span class="arrow"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li aria-haspopup="true" class=" ">
                                        <a href="ecommerce_index.html" class="nav-link ">
                                            <i class="icon-home"></i> Dashboard 
                                        </a>
                                    </li>
                                </ul>
                            </li> #}
                            <li>
                                <a class="nav-link " href="{{siteUrl('admin/user')}}"> 
                                    <i class="fa fa-address-card-o" aria-hidden="true"></i> User Admin 
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}